*.pth
*.pt
*.pkl
*.ckpt
*.pth.tar
*.pth.tar.gz
*.npy
*.zip
*.tar
__pycache__
dataLoader/oxford/lookup_test.txt
dataLoader/oxford/lookup_training.txt
dataLoader/oxford/training.txt
dataLoader/test2_files.txt
dataLoader/train_files.txt
dataLoader/oxford/test.txt
dataLoader/oxford/test2_j.txt
dataLoader/oxford/test3_j.txt
dataLoader/oxford/train_yaw.npy
dataLoader/oxford/validation.txt
dataLoader/train_files.txt
dataLoader/oxford/